In [2]:
from dash import Dash,dcc,html,Input,Output,callback

app = Dash(__name__)

app.layout = html.Div(
    [
        html.H6("text frijfwirfriwjfiwfjiwfj"),
        html.Div(
            [
                "Input:",
                dcc.Input(id='my_input',value='initial value',type='text')
            ]
        ),
        html.Br(),
        html.Div(id='my_output')
    ]
)

@callback(
        Output(component_id='my_output',component_property='children'),
        Input(component_id='my_input',component_property='value')
)

def update_output(input_value:str) -> str:
    return f'Output:{input_value}'
app.run(debug=True)

In [4]:
from dash import Dash,dcc,html,Input,Output,callback
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')
app = Dash(__name__)

In [7]:
display(df)

int(df['year'].min())
int(df['year'].max())
df['year'].unique()
{str(year):str(year) for year in df['year'].unique()}
df[df.year == 1952]

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

                 country  year         pop continent  lifeExp    gdpPercap
0            Afghanistan  1952   8425333.0      Asia   28.801   779.445314
12               Albania  1952   1282697.0    Europe   55.230  1601.056136
24               Algeria  1952   9279525.0    Africa   43.077  2449.008185
36                Angola  1952   4232095.0    Africa   30.015  3520.610273
48             Argentina  1952  17876956.0  Americas   62.485  5911.315053
...                  ...   ...         ...       ...      ...          ...
1644             Vietnam  1952  26246839.0      Asia   40.412   605.066492
1656  West Bank and Gaza  1952   1030585.0      Asia   43.160  1515.592329
1668         Yemen, Rep.  1952   4963829.0      Asia   32.548   781.717576
1680              Zambia  1952   2672000.0    Africa   42.038  1147.388831
1692            Zimbabwe  1952   3080907.0    Africa   48.451   406.884115

[142 rows x 6 columns]

In [8]:
from dash import Dash,dcc,html,Input,Output,callback
import pandas as pd
import plotly.express as px

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')
app = Dash(__name__)

app.layout = html.Div(
    [
        dcc.Graph(id="graph_with_slider"),
        dcc.Slider(
            min = df['year'].min(),
            max = df['year'].max(),
            step=None,
            value = df['year'].min(),
            marks = {str(year):str(year) for year in df['year'].unique()},
            id='year_slider'
        )
    ]
)

@callback(
        Output('graph_with_slider','figure'),
        Input('year_slider','value')
)
def update_figure(selected_year:int):
    filtered_df = df[df.year == selected_year]
    fig = px.scatter(
        data_frame = filtered_df,
        x = 'gdpPercap',
        y = 'lifeExp',
        size='pop',
        color='continent',
        hover_name='country',
        log_x = True,
        size_max = 55
    )
    fig.update_layout(transition_duration=5000)
    return fig

app.run(debug=True)